
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

.bgContainer{
    animation: lowerExposure 2s ease-in-out forwards infinite;
}

.headerText{
  font-family: "Jersey 10", sans-serif;
  font-size: 100px;
  mix-blend-mode: multiply;
  text-shadow: 
    1px 1px 0px rgba(0, 0, 0, 0.3),
    2px 2px 3px rgba(0, 0, 0, 0.4),
    inset 0 0 3px #000;
  letter-spacing: 2px;
  color: #2b1d0e;
    text-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.5),
    1px 1px 2px rgba(0, 0, 0, 0.3);
}

.chain{
  animation: slideDownChain 1s ease-in-out forwards ;
}
.banner{
  animation: slideDownBanner 1s ease-in-out forwards ;
}


@keyframes slideDownBanner {
  0% {
    top: -50%;
  }

  100% {
    top: 43%; /* Back to normal */
  }
}
@keyframes slideDownChain {
  0% {
    top: -50%;
  }

  100% {
    top: 0; /* Back to normal */
  }
}


@keyframes lowerExposure {
  0% {
    filter: brightness(0.6);
  }
  50% {
    filter: brightness(0.45); /* Lower exposure */
  }
  100% {
    filter: brightness(0.6); /* Back to normal */
  }
}