
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

.bgContainer{
    animation: lowerExposure 3s ease-in-out forwards infinite;
    object-fit: cover;
    overflow:hidden
}

.headerText{
  font-family: "Jersey 10", sans-serif;
  font-size: 100px;
  mix-blend-mode: multiply;
  text-shadow: 
    1px 1px 0px rgba(0, 0, 0, 0.3),
    2px 2px 3px rgba(0, 0, 0, 0.4),
    inset 0 0 3px #000;
  letter-spacing: 2px;
  color: #2b1d0e;
    text-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.5),
    1px 1px 2px rgba(0, 0, 0, 0.3);
}

.chain{
  transform: translate(-50%, -100%);
  top: 30px;
  transform-origin: top center;
  /* animation: chainSway 6s linear infinite; */
}
.bannerContainer{
  /* First animation */
  animation: slideDownBanner 1s ease-in-out forwards, 
             bobbing 7s ease-in-out infinite;
  animation-delay: 0s, 1s; /* 0s for first, 1s delay for second */
}

/* .banner{
  transform-origin: top center;
  animation: bobbing 6s ease-in infinite;
  animation-delay: 1s;
} */

@keyframes chainSway {
  0%   { transform: translate(-50%, -100%) rotate(0deg); }
  25%  { transform: translate(-50%, -100%) rotate(0.3deg); }
  50%  { transform: translate(-50%, -100%) rotate(0deg); }
  75%  { transform: translate(-50%, -100%) rotate(-0.3deg); }
  100% { transform: translate(-50%, -100%)rotate(0deg); }
}


@keyframes bobbing {
  0%   { transform: translateX(0px) rotate(0deg); }
  20%  { transform: translateX(3px) rotate(0.4deg); }
  50%  { transform: translateX(-3px) rotate(-0.4deg); }
  80%  { transform: translateX(3px) rotate(0.4deg); }
  100% { transform: translateX(0px) rotate(0deg); }
}



@keyframes slideDownBanner {
  0% {
    top: -50%;
  }

  100% {
    top: 43%; /* Back to normal */
  }
}
@keyframes slideDownChain {
  0% {
    top: -50%;
  }

  100% {
    top: 1%; /* Back to normal */
  }
}


@keyframes lowerExposure {
  0% {
    filter: brightness(0.7);
  }
  50% {
    filter: brightness(0.35); /* Lower exposure */
  }
  100% {
    filter: brightness(0.7); /* Back to normal */
  }
}